@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Doodle+Shadow&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Doodle+Shadow&family=Rubik+Mono+One&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Rubik+Doodle+Shadow&family=Rubik+Mono+One&family=Rubik+Scribble&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-image: url('https://i.pinimg.com/564x/9e/5a/e1/9e5ae13152d286f33ef72d2b85a5dc6c.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* body{
  
} */



.HomePage_navbar {
  display: flex;
}

.title {
  font-size: 3rem;
  padding-left: 30vw;
  width: 80vw;
  color: rgb(46, 37, 50);
  font-family: 'Cinzel', sans-serif;
}

.HomePage_Quote {
  color: rgb(36, 85, 1.5);
  margin-top: 19vh;
  letter-spacing: 3px;
  font-size: 2.5rem;
  width: 30vw;
  margin-left: 8vw;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  font-weight: 600;
  background: none;
}

.buttons-container {
  display: flex;
  text-decoration: none;
  margin-left: 15vw;
  margin-top: 14vh;
  justify-content: center;
}





.Home_para {
  width: 55vw;
  margin-top: 15vh;
  margin-left: 5vw;
  line-height: 5vh;
  font-size: 1.35rem;
  background: none;
  font-family: 'Philosopher', sans-serif;
  letter-spacing: 2px;
  color: rgb(95, 15, 64);
  font-weight: 900;
}
