

.Signform-container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  
  margin-top: 20vh;
  height: 60vh;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.SignupTxt{
  text-align: center;
  margin-bottom: 20px;
}

.SighnUpFormInput, .SighnupBtn {
  display: block;
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.SighnUpFormInput:focus {
  border-color: #007bff;
}

.SighnupBtn {
  background-color: #007bff;
  color: #fff;
  margin-top: 60px;
  width: 20vw;
  padding-bottom: 35px;
  margin-left: 4.5vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SighnupBtn:hover {
  background-color: #0056b3;
}
